<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="useGeneratedKeys" value="true" />  
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
    <!-- 配置mysql分页拦截器 start -->  
    <!-- com.xxyd.mybatis.interceptor.PaginationInterceptor 来自于jar包mybatis-pager-1.0.0.jar -->
	<!-- 
	<plugins>  
        <plugin interceptor="com.xxyd.mybatis.interceptor.PaginationInterceptor"></plugin>  
    </plugins> 
    -->
</configuration>