<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitweber.dao.CommonQueryDao">
	<select id="getAllTableName" resultType="java.lang.String">
		SELECT TABLE_NAME FROM ALL_TABLES WHERE TABLE_NAME NOT LIKE '%$%' AND TABLESPACE_NAME NOT IN ('SYSTEM','SYSAUX')
	</select>
	<select id="getColumns" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT COLUMN_NAME FROM ALL_TAB_COLUMNS WHERE TABLE_NAME = #{tableName} ORDER BY COLUMN_ID
	</select>
	<select id="commonQuery" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		${sql}
	</select>
</mapper>