<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitweber.dao.CommonQueryDao">
	<select id="getAllTableName" resultType="java.lang.String">
		<!-- Oracle -->
		SELECT TABLE_NAME FROM ALL_TABLES WHERE TABLE_NAME NOT LIKE '%$%' AND TABLESPACE_NAME NOT IN ('SYSTEM','SYSAUX')
		<!-- MySQL -->
		<!-- SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='FITWEBER'; -->
	</select>
	<select id="getColumns" parameterType="java.lang.String" resultType="java.lang.String">
		<!-- Oracle -->
		SELECT COLUMN_NAME FROM ALL_TAB_COLUMNS WHERE TABLE_NAME = #{tableName} ORDER BY COLUMN_ID
		<!-- MySQL -->
		<!-- SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA='FITWEBER' AND TABLE_NAME = #{tableName}; -->
	</select>
	<!-- 先换过来，还没实现查询和数据打包之间切换。打包程序要用全量查询 -->
	<select id="commonQueryByPage" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT * FROM (SELECT ROWNUM AS RN,T.* FROM (${sql}) T)
		]]>
		<!-- Oracle -->
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="BEIGNROW!=null"> AND RN >  #{BEIGNROW, jdbcType=NUMERIC}</if>
			<if test="ENDROW!=null"> AND RN &lt; = #{ENDROW, jdbcType=NUMERIC}</if>
		</trim>
	</select>
	
	<select id="commonQuery" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		${sql}
	</select>
	
	<select id="commonQueryCount" resultType="int" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT COUNT(*) TOTALNUM FROM (${sql})
		]]>
	</select>
	
</mapper>