BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
SMALL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: verdana,Arial,Helvetica; COLOR: #5b5b5b; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 150%
}
CITE {
	FONT-STYLE: normal
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.clear {
	CLEAR: both
}
.bold {
	FONT-WEIGHT: 700
}
.red {
	FONT-FAMILY: Verdana; COLOR: red
}
.big {
	FONT-SIZE: 14px
}
.bold {
	FONT-WEIGHT: bold
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #1a64a2; TEXT-DECORATION: none
}
A:visited {
	COLOR: #1a64a2; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f60; TEXT-DECORATION: none
}
A.q:link {
	COLOR: #1a64a2; TEXT-DECORATION: underline
}
A.q:visited {
	COLOR: #1a64a2; TEXT-DECORATION: underline
}
A.q:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.q:active {
	COLOR: red; TEXT-DECORATION: underline
}
.gray {
	PADDING-BOTTOM: 1px; MARGIN: 0px 3px 0px 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 1px
}
.gray:link {
	COLOR: #525252; TEXT-DECORATION: none
}
.gray:visited {
	COLOR: #525252; TEXT-DECORATION: none
}
.gray:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
.gray:active {
	COLOR: #525252; TEXT-DECORATION: none
}
.black:link {
	COLOR: #404040; TEXT-DECORATION: none
}
.black:visited {
	COLOR: #404040; TEXT-DECORATION: none
}
.black:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.black:active {
	COLOR: #404040; TEXT-DECORATION: none
}
.orange:link {
	COLOR: #f60; TEXT-DECORATION: none
}
.orange:visited {
	COLOR: #f60; TEXT-DECORATION: none
}
.orange:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.orange:active {
	COLOR: #f60; TEXT-DECORATION: none
}
.picked:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.picked:active {
	COLOR: #f60; TEXT-DECORATION: underline
}
.underline {
	TEXT-DECORATION: underline
}
.hidden {
	WIDTH: 0px; HEIGHT: 0px; FONT-SIZE: 1px; OVERFLOW: hidden
}
#hd_info {
	BORDER-BOTTOM: #e5e5e5 1px solid; POSITION: relative; WIDTH: 100%; BACKGROUND: #f8f8f8; HEIGHT: 28px
}
#cnts {
	PADDING-BOTTOM: 0px; MARGIN: auto; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 4px
}
#site_nav {
	MARGIN-TOP: 1px; FLOAT: left; COLOR: #aaa
}
#site_nav A {
	MARGIN: 0px 5px
}
#site_nav A:link {
	COLOR: #525252; TEXT-DECORATION: none
}
#site_nav A:visited {
	COLOR: #525252; TEXT-DECORATION: none
}
#site_nav A:active {
	COLOR: #525252; TEXT-DECORATION: none
}
#site_nav A:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
#login_area {
	TEXT-ALIGN: right; MARGIN: 0px 0px 2px; WIDTH: 430px; FLOAT: right; PADDING-TOP: 0px
}
.log_info .com {
	BORDER-BOTTOM: #b3b3b3 1px solid; BORDER-LEFT: #b3b3b3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 14px; BORDER-TOP: #b3b3b3 1px solid; BORDER-RIGHT: #b3b3b3 1px solid; PADDING-TOP: 2px
}
#wrapper {
	MARGIN: auto; WIDTH: 950px
}
#header {
	MARGIN-TOP: 0px; HEIGHT: 90px; PADDING-TOP: 10px
}
#hd_lt {
	WIDTH: 720px; FLOAT: left
}
.logo {
	WIDTH: 210px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 10px
}
.banner {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
#hd_rt {
	MARGIN: 6px 0px 0px; WIDTH: 230px; FLOAT: right
}
.adv_word {
	LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; PADDING-LEFT: 30px; COLOR: #1a64a2; TEXT-DECORATION: underline
}
#nav_zone {
	MARGIN-TOP: 10px; WIDTH: 950px; BACKGROUND: url(/images/nav_bg.gif) repeat-x; HEIGHT: 32px
}
#nav_zone .nav {
	LINE-HEIGHT: 33px; PADDING-LEFT: 15px; FLOAT: left; HEIGHT: 32px; COLOR: #fff; FONT-SIZE: 14px; OVERFLOW: hidden
}
.nav A {
	TEXT-ALIGN: center; PADDING-LEFT: 5px; WIDTH: 70px; DISPLAY: inline-block; BACKGROUND: url(/images/nav_seperate.gif) no-repeat 0px 6px; TEXT-DECORATION: none
}
.nav A:link {
	WIDTH: 70px; COLOR: #fff; TEXT-DECORATION: none
}
.nav A:visited {
	WIDTH: 70px; COLOR: #fff; TEXT-DECORATION: none
}
.nav A:active {
	WIDTH: 70px; COLOR: #fff; TEXT-DECORATION: none
}
.nav A:hover {
	WIDTH: 70px; DISPLAY: inline-block; BACKGROUND: url(/images/nav_cur4.gif) no-repeat 4px 3px; COLOR: #333; TEXT-DECORATION: none
}
.nav .current {
	WIDTH: 70px; DISPLAY: inline-block; BACKGROUND: url(/images/nav_cur4.gif) no-repeat 4px 3px; COLOR: #333; FONT-WEIGHT: bold
}
.nav .nobg {
	BACKGROUND-IMAGE: none; WIDTH: 70px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px
}
.nav A.current:link {
	COLOR: #333; TEXT-DECORATION: none
}
.nav A.current:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.nav A.current:active {
	COLOR: #333; TEXT-DECORATION: none
}
#order {
	MARGIN: 6px 10px; FLOAT: right
}
.rss {
	MARGIN-TOP: 4px; FLOAT: left
}
.orderemail {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 154px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/textbox2.gif) no-repeat; FLOAT: right; HEIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.orderemail .hidden {
	DISPLAY: none
}
.orderemail .textbox {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 4px; WIDTH: 110px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 18px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 2px
}
.orderemail .submit {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 35px; BACKGROUND: url(/images/btn_order.gif) no-repeat 0px 0px; HEIGHT: 20px; MARGIN-LEFT: -4px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; _margin-left: -8px
}
#sch_zone {
	MARGIN-TOP: 10px; WIDTH: 950px; BACKGROUND: url(/images/bg_search.gif) no-repeat; HEIGHT: 78px
}
#zzk {
	POSITION: relative; PADDING-BOTTOM: 9px; PADDING-LEFT: 70px; WIDTH: 690px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 10px
}
.sch_tabs {
	PADDING-LEFT: 10px; WIDTH: 90%
}
.sch_tabs LI {
	TEXT-ALIGN: center; WIDTH: 40px; FLOAT: left; HEIGHT: 22px
}
.sch_tabs LI A {
	DISPLAY: block; COLOR: #404040
}
.sch_tabs .current {
	BACKGROUND: url(/images/bg_sch_tab_cur.gif) no-repeat 50% 100%
}
.sch_tabs .current A {
	COLOR: #f60; FONT-WEIGHT: 700
}
.sch_input {
	POSITION: relative; MARGIN-TOP: 8px; CLEAR: both; PADDING-TOP: 4px
}
.sch_text {
	PADDING-LEFT: 3px; WIDTH: 333px; HEIGHT: 18px; PADDING-TOP: 2px
}
.sch_input .sch_btn {
	POSITION: absolute; TOP: 4px; LEFT: 350px
}
.sch_btn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 62px; HEIGHT: 24px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.hot_sch {
	POSITION: absolute; LINE-HEIGHT: 18px; WIDTH: 240px; DISPLAY: block; HEIGHT: 18px; OVERFLOW: hidden; TOP: 8px; LEFT: 430px
}
.hot_sch A {
	COLOR: #404040; MARGIN-RIGHT: 3px
}
.hot_sch A:link {
	COLOR: #0c569a
}
#sch_ad {
	MARGIN-TOP: 30px; WIDTH: 175px; FLOAT: right
}
#idx_cnt1 {
	MARGIN-TOP: 10px; WIDTH: 950px
}
#ibanner {
	POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 60px; PADDING-RIGHT: 60px; BACKGROUND: url(/images/bg_flash.png) #fff repeat-x center top; HEIGHT: 200px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#ibanner_pic A {
	POSITION: absolute; WIDTH: 326px; DISPLAY: block; HEIGHT: 174px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
#ibanner_btn {
	Z-INDEX: 9999; POSITION: absolute; BOTTOM: 0px; RIGHT: 0px; FONT-WEIGHT: 700
}
#ibanner_btn .normal {
	LINE-HEIGHT: 16px; BACKGROUND: #7bb832 0px 0px; HEIGHT: 16px; COLOR: #fff
}
#ibanner_btn SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; DISPLAY: block; FONT-FAMILY: Arial; FLOAT: left; MARGIN-LEFT: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
#ibanner_btn .current {
	LINE-HEIGHT: 16px; BACKGROUND: #f7941c 0px 0px; HEIGHT: 16px; COLOR: #fff
}
#floatspan {
	FLOAT: right
}
#cnt1_lt {
	WIDTH: 326px; FLOAT: left
}
.comtabs {
	POSITION: relative; WIDTH: 100%; MARGIN-BOTTOM: -5px; BACKGROUND: url(/images/bg_cnpages_tab.gif) repeat-x 0px 8px
}
.comtabs2 {
	POSITION: relative; MARGIN-TOP: 4px; WIDTH: 100%; MARGIN-BOTTOM: -5px; BACKGROUND: url(/images/cnt1_pages_tab.gif) repeat-x 0px 8px
}
.comtabs3 {
	POSITION: relative; WIDTH: 100%; MARGIN-BOTTOM: -5px; BACKGROUND: url(/images/cnt1_pages_tab.gif) repeat-x 0px 8px
}
.comtabs SPAN {
	POSITION: absolute; BOTTOM: 9px; RIGHT: 0px
}
.comtabs2 SPAN {
	POSITION: absolute; BOTTOM: 9px; RIGHT: 0px
}
.comtabs3 SPAN {
	POSITION: absolute; BOTTOM: 9px; RIGHT: 0px
}
.comtabs LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 73px; BACKGROUND: url(/images/tab.gif) no-repeat -74px top; HEIGHT: 28px; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.comtabs2 LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 73px; BACKGROUND: url(/images/tab.gif) no-repeat -222px top; HEIGHT: 28px; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.comtabs3 LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 73px; BACKGROUND: url(/images/tab.gif) no-repeat -222px top; HEIGHT: 28px; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.comtabs .current {
	BACKGROUND: url(/images/tab.gif) no-repeat left top; HEIGHT: 28px
}
.comtabs2 .current {
	BACKGROUND: url(/images/tab.gif) no-repeat -296px top; HEIGHT: 28px
}
.comtabs3 .current {
	BACKGROUND: url(/images/tab.gif) no-repeat -148px top; HEIGHT: 28px
}
.comtabs LI A {
	DISPLAY: block
}
.comtabs2 LI A {
	DISPLAY: block
}
.comtabs3 LI A {
	DISPLAY: block
}
.comtabs .current {
	COLOR: #1f376d; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.comtabs .current A {
	COLOR: #1f376d; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.comtabs2 .current {
	COLOR: #1f376d; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.comtabs2 .current A {
	COLOR: #1f376d; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.comtabs3 .current {
	COLOR: #1f376d; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.comtabs3 .current A {
	COLOR: #1f376d; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.cn_page {
	MARGIN-TOP: 10px; WIDTH: 100%; BACKGROUND: #fff
}
#cn_page_tab {
	POSITION: relative
}
.cn_page .cnts {
	BORDER-BOTTOM: #ace 1px solid; BORDER-LEFT: #ace 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ace 0px solid; BORDER-RIGHT: #ace 1px solid; PADDING-TOP: 8px
}
#cnt1_mid {
	WIDTH: 410px; FLOAT: left; MARGIN-LEFT: 9px
}
#cnt1_pages_main {
	MARGIN-TOP: 10px; BACKGROUND: #fff; _margin-top: 6px
}
#cnt1_pages_main .cnts {
	BORDER-BOTTOM: #d4d4d4 0px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 4px; MARGIN: auto; PADDING-LEFT: 8px; PADDING-RIGHT: 6px; BORDER-TOP: #d4d4d4 0px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 4px
}
.cnt1ul {
	LIST-STYLE-TYPE: none; CLEAR: both
}
.cnt1ul LI {
	LINE-HEIGHT: 188%; HEIGHT: 20px; OVERFLOW: hidden
}
.different {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px; _padding: 3px 0 2px 0
}
.different LI {
	LINE-HEIGHT: 194%; HEIGHT: 21px
}
.cnt1ul LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.cnt1ul LI .blogname {
	WIDTH: 92px; FLOAT: left
}
.cnt1ul .blogname A {
	COLOR: #000
}
.blogname A:visited {
	COLOR: #000; TEXT-DECORATION: underline
}
.blogname A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.cnt1ul LI .blogtitle {
	WIDTH: 232px; FLOAT: right
}
#cnt1_pages_main .hr {
	BORDER-BOTTOM: #b3b3b3 1px dotted; MARGIN-TOP: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; _margin-top: 7px
}
.blogphoto {
	HEIGHT: 44px; _height: 51px
}
.blogexperts {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 7px; _padding-top: 10px
}
.blogexperts LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 32px; PADDING-TOP: 0px
}
.cnt1_pages_main_b {
	WIDTH: 410px; BACKGROUND: url(/images/cnt1_pages_b.gif) no-repeat; HEIGHT: 4px
}
#cnt1_rt {
	WIDTH: 194px; FLOAT: right
}
#side_left {
	WIDTH: 670px; FLOAT: left
}
#side_right {
	WIDTH: 268px; FLOAT: right
}
#headline {
	WIDTH: 410px; MARGIN-BOTTOM: 1px; BACKGROUND: url(/images/headline3.gif) no-repeat; HEIGHT: 200px
}
#headline H2 {
	POSITION: relative; TEXT-ALIGN: center; COLOR: #1f376d; FONT-SIZE: 16px; TOP: 20px
}
#headline UL {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 28px
}
#headline UL LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 7px; HEIGHT: 22px; COLOR: #1a64a2; FONT-SIZE: 14px; OVERFLOW: hidden
}
#headline UL LI A {
	FONT-SIZE: 14px; TEXT-DECORATION: underline
}
#headline UL LI A:hover {
	TEXT-DECORATION: underline
}
#headline .lttext {
	WIDTH: 180px; FLOAT: left
}
#headline .rttext {
	WIDTH: 200px; FLOAT: right
}
.cnt1tabs2 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 85px; PADDING-TOP: 2px; _padding: 1px 0 2px 0; _height: 80px
}
.cnt1tabs2 .leftpic {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 10px
}
.cnt1tabs2 .righttext {
	WIDTH: 326px; FLOAT: right
}
.cnt1tabs2 .righttext LI A {
	LINE-HEIGHT: 156%; PADDING-LEFT: 6px; HEIGHT: 21px; FONT-SIZE: 14px; OVERFLOW: hidden; _line-height: 148%
}
.cnt1tabs2hack {
	PADDING-BOTTOM: 3px !important; _padding-bottom: 3px
}
.cnt1_rt_top {
	LINE-HEIGHT: 1px; BACKGROUND: url(/images/cnt_rt_block.gif) no-repeat left top; HEIGHT: 30px; FONT-SIZE: 1px
}
.cnt1_rt_top H3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 12px; COLOR: #5f5f5f; FONT-SIZE: 12px; FONT-WEIGHT: lighter; PADDING-TOP: 10px
}
.cnt1_rt_mid {
	BORDER-BOTTOM: #ccc 0px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 160%; BACKGROUND-COLOR: #fcfcfc; WIDTH: 192px; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 1px solid
}
.cnt1_rt_btm {
	LINE-HEIGHT: 1px; BACKGROUND: url(/images/cnt_rt_block.gif) no-repeat left bottom; HEIGHT: 4px; FONT-SIZE: 1px
}
.hotsubject {
	TEXT-ALIGN: center; MARGIN: auto; WIDTH: 176px
}
.hotsubject UL {
	PADDING-TOP: 10px
}
.hotsubject LI {
	LINE-HEIGHT: 220%
}
.adl_cnts1 {
	LINE-HEIGHT: 20%; TEXT-INDENT: 1.2em; MARGIN: auto; WIDTH: 176px
}
.adl_cnts1 A {
	LINE-HEIGHT: 20px; DISPLAY: block; HEIGHT: 20px; OVERFLOW: hidden
}
#idx_cnt2 {
	MARGIN-TOP: 10px; WIDTH: 950px
}
#cnt2_lt {
	WIDTH: 746px; FLOAT: left
}
#cnt2_rt {
	WIDTH: 194px; FLOAT: right
}
#cnt2_rt_job {
	MARGIN-TOP: 10px
}
#cnt2_rt_publish {
	MARGIN-TOP: 10px
}
#cnt2_rt_down {
	MARGIN-TOP: 10px
}
#cnt2_rt_trend {
	MARGIN-TOP: 10px
}
cnt2_rt_subject {
	MARGIN-TOP: 10px
}
.right_block {
	MARGIN-TOP: 10px
}
.right_list LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 10px; BACKGROUND: url(/images/li_gray_dot.gif) no-repeat 6px 12px; HEIGHT: 25px; OVERFLOW: hidden
}
#cnt2_bnr {
	MARGIN-TOP: 10px; WIDTH: 746px; BACKGROUND: #fff; MARGIN-LEFT: 10px; _margin-top: 0
}
#cnt2A {
	MARGIN-TOP: 8px; WIDTH: 326px; FLOAT: left; _margin-top: 6px
}
#cnt2B {
	MARGIN-TOP: 8px; WIDTH: 410px; FLOAT: right; MARGIN-LEFT: 10px; _margin-top: 6px
}
#cnt2B_books {
	BACKGROUND: #fff
}
#cnt2B_books_top {
	LINE-HEIGHT: 1px; BACKGROUND: url(/images/re_book.gif) no-repeat left top; HEIGHT: 30px; FONT-SIZE: 1px
}
#cnt2B_books_top H3 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; COLOR: #1f376d; PADDING-TOP: 14px
}
#cnt2B_books_top SPAN {
	MARGIN: -10px 16px 0px 0px; FLOAT: right
}
#cnt2B_books_mid {
	BORDER-BOTTOM: #d5d5d5 0px solid; BORDER-LEFT: #d5d5d5 1px solid; LINE-HEIGHT: 160%; BORDER-TOP: #d5d5d5 0px solid; BORDER-RIGHT: #d5d5d5 1px solid
}
#cnt2B_books_mid .cnts {
	WIDTH: 407px; BACKGROUND: url(/images/book_bg.gif) no-repeat; HEIGHT: 144px
}
.dotline {
	BORDER-BOTTOM: #c3c3c3 1px dotted; MARGIN-TOP: -5px
}
#cnt2B_books_mid .cnts UL {
	PADDING-BOTTOM: 10px; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 96%; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#cnt2B_books_mid .cnts UL LI {
	TEXT-ALIGN: center; WIDTH: 95px; FLOAT: left; COLOR: #454545
}
#cnt2B_books_mid .cnts UL LI A {
	TEXT-ALIGN: center; WIDTH: 85px; DISPLAY: block; HEIGHT: 130px
}
#cnt2B_books_mid .cnts UL LI IMG {
	MARGIN: auto auto 9px; DISPLAY: block
}
.hot_sell UL {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 0; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 378px; PADDING-RIGHT: 0px; PADDING-TOP: 10px; _padding-top: 5px
}
.hot_sell UL LI A {
	LINE-HEIGHT: 20px; PADDING-LEFT: 14px; WIDTH: 165px; PADDING-RIGHT: 7px; DISPLAY: block; BACKGROUND: url(/images/li_orange_dot.gif) no-repeat 0px 9px; FLOAT: left; HEIGHT: 24px; COLOR: #545454; OVERFLOW: hidden
}
#cnt2B_books_btm {
	LINE-HEIGHT: 1px; BACKGROUND: url(/images/re_book.gif) no-repeat left bottom; HEIGHT: 5px; FONT-SIZE: 1px
}
.cnt2_pages_main {
	BACKGROUND: #fff; PADDING-TOP: 10px
}
.cnt2_pages_main .cnts {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 250px; BORDER-TOP: #d4d4d4 0px solid; BORDER-RIGHT: #d4d4d4 1px solid; PADDING-TOP: 8px
}
.cnt2_pages_main .cnts LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_gray_dot.gif) no-repeat left 14px; HEIGHT: 24px; OVERFLOW: hidden; PADDING-TOP: 1px
}
.cnt2_pages_main .cnts LI A {
	FONT-SIZE: 14px
}
.cnt1_pages_main_b {
	WIDTH: 410px; BACKGROUND: url(/images/cnt1_pages_b.gif) no-repeat; HEIGHT: 4px
}
.imgArea {
	WIDTH: 100%; BACKGROUND: url(/images/grayline.gif) repeat-x center bottom; HEIGHT: 83px
}
.imgLArea {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; WIDTH: 105px; PADDING-RIGHT: 6px; FLOAT: left; HEIGHT: 80px; PADDING-TOP: 0px
}
#con_cnt3page_1 .imgRArea LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_orange_arrow.gif) no-repeat left 13px; PADDING-TOP: 2px
}
#con_cnt3page_2 .imgRArea LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_orange_arrow.gif) no-repeat left 13px; PADDING-TOP: 2px
}
#con_cnt3page_3 .imgRArea LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_orange_arrow.gif) no-repeat left 13px; PADDING-TOP: 2px
}
#con_cnt6page_1 .imgRArea LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_orange_arrow.gif) no-repeat left 13px; PADDING-TOP: 2px
}
#con_cnt6page_2 .imgRArea LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_orange_arrow.gif) no-repeat left 13px; PADDING-TOP: 2px
}
#con_cnt6page_3 .imgRArea LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_orange_arrow.gif) no-repeat left 13px; PADDING-TOP: 2px
}
.imgRArea {
	WIDTH: 180px; FLOAT: right
}
#con_cnt6page_1 .imgRArea {
	WIDTH: 260px; FLOAT: right
}
#con_cnt6page_2 .imgRArea {
	WIDTH: 260px; FLOAT: right
}
#con_cnt6page_3 .imgRArea {
	WIDTH: 260px; FLOAT: right
}
#con_cnt6page_1 .textArea {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#con_cnt6page_2 .textArea {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#con_cnt6page_3 .textArea {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
.imgRArea * {
	LINE-HEIGHT: 24px
}
#job UL {
	PADDING-BOTTOM: 6px; MARGIN: auto; PADDING-LEFT: 10px; WIDTH: 180px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
#job UL LI A {
	LINE-HEIGHT: 160%; PADDING-LEFT: 8px; WIDTH: 160px; PADDING-RIGHT: 7px; BACKGROUND: url(/images/li_gray_arrow.gif) no-repeat 0px 9px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
.publish {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.publish UL {
	TEXT-ALIGN: left
}
.publish UL LI {
	LINE-HEIGHT: 20px; PADDING-LEFT: 40px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden
}
#down UL {
	PADDING-BOTTOM: 6px; MARGIN: auto; PADDING-LEFT: 4px; WIDTH: 180px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
#down UL LI A {
	LINE-HEIGHT: 160%; PADDING-LEFT: 18px; WIDTH: 160px; PADDING-RIGHT: 7px; BACKGROUND: url(/images/li_down.gif) no-repeat 0px 5px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
#trend {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#trend LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 10px; BACKGROUND: url(/images/li_gray_dot.gif) no-repeat 6px 12px; HEIGHT: 25px; OVERFLOW: hidden
}
#footer {
	
}
.foottop {
	LINE-HEIGHT: 1px; WIDTH: 950px; BACKGROUND: url(/images/foot_bg.gif) no-repeat left top; HEIGHT: 32px; FONT-SIZE: 1px
}
.foottop H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; COLOR: #1f376d; FONT-SIZE: 14px; PADDING-TOP: 7px
}
.footmid {
	BORDER-BOTTOM: #aacbee 0px solid; BORDER-LEFT: #aacbee 1px solid; WIDTH: 948px; BORDER-TOP: #aacbee 0px solid; BORDER-RIGHT: #aacbee 1px solid
}
.footbtm {
	LINE-HEIGHT: 1px; WIDTH: 950px; BACKGROUND: url(/images/foot_bg.gif) no-repeat left bottom; HEIGHT: 6px; FONT-SIZE: 1px
}
.friend_logo {
	MARGIN: auto; PADDING-LEFT: 40px; WIDTH: 900px; PADDING-TOP: 13px
}
.friend_logo LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 130px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 0px
}
.friend_words {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 10px
}
.friend_words A {
	MARGIN-RIGHT: 2px
}
.login_input {
	WIDTH: 80px
}
#user_block {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
#login_block {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
#ctl00_panel_foot {
	_margin-top: 10px
}
#div_tcpop {
	POSITION: absolute; WIDTH: 363px; DISPLAY: none; BACKGROUND: 0px 0px; TOP: 0px; LEFT: 24px
}
#tcpop_top {
	WIDTH: 363px; BACKGROUND: url(/images/tcpop_top.gif) no-repeat left top; HEIGHT: 16px; OVERFLOW: hidden
}
#tcpop_middle {
	TEXT-ALIGN: center; WIDTH: 363px; BACKGROUND: url(/images/tcpop_middle.gif) 0px 0px
}
#tcpop_bot {
	TEXT-ALIGN: right; WIDTH: 363px; BACKGROUND: url(/images/tcpop_bot.gif) no-repeat left top; HEIGHT: 21px; OVERFLOW: hidden
}
.blogexpertname {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; WIDTH: 96%; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.blogexpertname LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 0px; WIDTH: 20%; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 22px; PADDING-TOP: 0px
}
.ArticleUl {
	FONT-SIZE: 14px
}
.ArticleUl LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/li_gray_dot.gif) no-repeat left 14px; HEIGHT: 24px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 1px
}
.ArticleUl LI A {
	FONT-SIZE: 14px
}
.ArticleUl LI A:hover {
	COLOR: #f60
}
#pager {
	TEXT-ALIGN: center; LINE-HEIGHT: 200%; MARGIN: 25px 0px; COLOR: #2e6ab1; FONT-SIZE: 12px
}
#pager A {
	BORDER-BOTTOM: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #2e6ab1; BORDER-TOP: #9aafe5 1px solid; MARGIN-RIGHT: 4px; BORDER-RIGHT: #9aafe5 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
#pager SPAN.current {
	BORDER-BOTTOM: navy 1px solid; BORDER-LEFT: navy 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #2e6ab1; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #fff; BORDER-TOP: navy 1px solid; FONT-WEIGHT: bold; MARGIN-RIGHT: 4px; BORDER-RIGHT: navy 1px solid; PADDING-TOP: 2px
}
.short_date {
	COLOR: gray; FONT-SIZE: 12px
}
#footer {
	TEXT-ALIGN: center; MARGIN-TOP: 20px; MARGIN-BOTTOM: 30px; FONT-SIZE: 12px; BORDER-TOP: #e4e4e4 1px solid; PADDING-TOP: 12px
}
#footer A {
	PADDING-LEFT: 10px
}
#footer IMG {
	MARGIN-LEFT: 0px; VERTICAL-ALIGN: middle
}
